.*{
  margin: 0px;
  padding: 0px;
}
#contenedor{
  margin-top: -1.7%;
  width: 99.9%;
  background: url(img/fondo.jpg);
  background-size: cover;
}
#contenedor h1{
  text-align: center;
}
#contenedor img{
  width: 40%;
}
.section{
  background: url(img/fondo.jpg);
  background-size: cover;
}
#menu{
  top: 93%;
  position:fixed;
  z-index: 999;
  display: inline-flex;
}
#menu a{
  margin-left: 160px;
}
.boton {
  border: 2px solid transparent;
  background: #c49608;
  color: #ffffff;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 16px;
  line-height: 25px;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
}
.boton:hover {
  background-color: #696969;
}
.title{
  background: rgba(0,0,0,0.7);
  width: 100%;
  z-index: 100;
  font-size: 20px;
  color: white;
}
.title h1{
  padding-bottom: 10px;
}
.fp-controlArrow {
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  border-style: solid;
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.fp-controlArrow.fp-prev {
  left: 15px;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #787878 transparent transparent;
}
.fp-controlArrow.fp-prev:hover{
  border-color: transparent #c49608 transparent transparent;
}
.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #787878;
}
.fp-controlArrow.fp-next:hover{
  border-color: transparent transparent transparent #c49608;
}
.fp-section {
  position: relative;
}
.fp-slide {
  float: left;
}
.fp-slides {
  z-index:1;
  overflow: hidden;
  transition: all 0.3s ease-out;
}
.fp-slide.fp-table {
  table-layout:fixed;
  width: 99.9%;
}
.contenido5 h2{
  text-align: center;
  font-size: 27px;
  margin-top: 35%;
}
.contenido5 h3{
  margin-left: 66%;
}
.im1, .im2{
 margin-left: 29.7%;
 border: #c49608 5px solid;
 border-radius: 20px;
}
.sdj1{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  border-radius: 20px;
  text-align: center;
  margin-left: 24.5%;
  background: #000766;
  width: 50%;
  color: white;
}
#carritoFast{
  width: 20%;
}
